.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

body {
    margin: 0;
}

.gameState {
    display: none;
}

.gameState.active {
    display: block;
}

.game-title {
    text-align: center;
}

.lobby {

}

.lobby__stats {
    float: left;
    width: 25%;
    padding: 15px;
    background-color: #eee;
    margin-right: 5%;
}

.lobby__stat {
    font-weight: bold;
}

.lobby__stat span {
    font-weight: normal;
}

.lobby__menu {
    float: left;
    width: 70%;
}

.room__id {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 24px;
}
.room__players {
    display: block;
    margin: 0 auto;
    max-width: 50%;
}

.room__player {
    float: left;
    width: 40%;
    background-color: #eee;
    padding: 15px;
    height: 200px;
}

.room__player + .room__player {
    float: right;
}

.room__player-name {
    width: 95%;
    font-size: 18px;
}

.room__player-icon {
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
}

.room__player-color {
    width: 32px;
    height: 32px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    border: 3px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

.room__player-color.active {
    border-color: orange;
}

.room__player-ready {
    margin: 20px 0 auto;
}


.room__menu {
    margin: 25px auto;
    display: none;
}

.room__menu.active {
    display: table;
}